* {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

header,
.logo {
    background: linear-gradient(to left, #333, #ccc);
}

.logo img {
    margin: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según tus necesidades */


}

.menu ul,
li {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 24px;

    justify-content: center;
    background-color: white;
    align-items: center;
}

li {
    margin-left: 20px;
}

li i {
    margin-right: 10px;
}

li:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    background-color: #333;


}

.fotoTecnico {
    display: flex;
    justify-content: center;
    max-width: 360px;
    height: auto;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #333, #ccc);


    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    background-color: black;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ccc;
}