* {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

header,
.logo {
    background: linear-gradient(to left, #333, #ccc);
    background: linear-gradient(to right, #465ca2, #273b71);
}

.logo img {
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según tus necesidades */


}

a {
    text-decoration: none;
    color: white;
}

.menu ul,
.menu li {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 24px;

    justify-content: center;
    background-color: rgb(54, 53, 117);
    align-items: center;
}

.menu li {
    margin-left: 20px;
}

li i {
    margin-right: 10px;
}

.menu li:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

main {
    align-items: center;
    display: flex;

    padding: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    background: linear-gradient(to right, #465ca2, #273b71);


}

.fotoTecnico {
    display: flex;
    justify-content: center;
    max-width: 360px;
    height: auto;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #465ca2, #273b71);


    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    background-color: rgb(54, 53, 117);
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ccc;
}

@media (max-width: 390px) {
    .card {
        width: 18rem;
    }
}